---
---

<div class="lg:col-span-7 min-h-0 h-full flex flex-col bg-white rounded-2xl lg:rounded-3xl shadow-sm border border-gold/10 overflow-hidden">
	<div id="my-cal-inline-secret" class="custom-scrollbar w-full flex-1 min-h-[320px] overflow-auto pt-4 pl-2 pr-2 pb-2"></div>
</div>

<script is:inline type="text/javascript">
	(function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
	Cal("init", "secret", {origin:"https://app.cal.com"});
	Cal.ns.secret("inline", {
		elementOrSelector:"#my-cal-inline-secret",
		config: {"layout":"month_view","useSlotsViewOnSmallScreen":"true","theme":"light"},
		calLink: "hector-munoz-t5pylz/secret",
	});
	Cal.ns.secret("ui", {"theme":"light","cssVarsPerTheme":{"light":{"cal-brand":"#7a3efe"}},"hideEventTypeDetails":false,"layout":"month_view"});
</script>
