---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CostoOculto from '../components/CostoOculto.astro';
import ElMetodo from '../components/ElMetodo.astro';
import Resultados from '../components/Resultados.astro';
import SobreTransito from '../components/SobreTransito.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<div class="relative z-10 flex flex-col min-h-screen w-full">
		<Header />
		<main>
			<Hero />
			<CostoOculto />
			<ElMetodo />
			<Resultados />
			<SobreTransito />
			<CTA />
		</main>
		<Footer />
	</div>
</Layout>
